.top {
	height: 30px;
	margin-top: -3px;
	background-color: black;
}

.bi-heart-pulse {
	color: red;
	text-align: center;
	margin-top: 3px;
	margin-right: 75px;
}

.titre {
	text-align: center;
	margin-top: -25px;
	color: red;
}

.bi-heart-pulse-two {
	color: red;
	text-align: center;
	margin-top: -22px;
	margin-left: 220px;
}

.infos {
	text-align: center;
	color: black;
	margin-top: 30px;
}

.border-custom {
	margin-top: 20px;
	border: 2px solid blue;
}